-- Force cursorline/number highlight after all plugins/themes load
vim.opt.number = true
vim.opt.relativenumber = false
vim.opt.cursorline = true
vim.opt.cursorcolumn = true
vim.opt.cursorlineopt = "both"

vim.api.nvim_set_hl(0, "CursorLine", { bg = "#3B4252" })
vim.api.nvim_set_hl(0, "CursorLineNr", { fg = "#FFCC00", bold = true })


