---@type ChadrcConfig
local M = {}

M.base46 = {
  theme = "onedark",
  hl_override = {
    CursorLine = { bg = "#1E2430", underline = true },
    CursorLineNr = { fg = "#00FF5F", bold = true },
    CursorLineSign = { bg = "#3B4252" },
    CursorLineFold = { bg = "#3B4252" },
  },
}

return M
