-- NVChad custom init to set core options as requested
local opt = vim.opt

-- Truecolor for better highlighting
opt.termguicolors = true

-- Ensure syntax highlighting and filetype detection/indentation
vim.cmd([[syntax on]])
vim.cmd([[filetype plugin indent on]])

-- Line numbers
opt.number = true
opt.relativenumber = false
vim.wo.number = true
vim.wo.relativenumber = false

-- Line indicators (ruler at 80)
opt.colorcolumn = "80"

-- Wrap and hard wrap at 80
opt.wrap = true
opt.textwidth = 80
opt.formatoptions:append("t")

-- Sensible defaults for indentation (overridden by ftplugins below)
opt.expandtab = true
opt.shiftwidth = 2
opt.tabstop = 2
opt.smartindent = true

-- Highlight current line and column
opt.cursorline = true
vim.wo.cursorline = true
opt.cursorcolumn = true

-- Enforce line numbers and cursorline on new windows/buffers
vim.api.nvim_create_autocmd({"VimEnter","WinEnter","BufWinEnter"}, {
  callback = function()
    vim.wo.number = true
    vim.wo.relativenumber = false
    vim.wo.cursorline = true
  end,
})

-- Force highlight after colorscheme loads
vim.api.nvim_create_autocmd("ColorScheme", {
  callback = function()
    vim.api.nvim_set_hl(0, "CursorLine", { bg = "#2A2E36" })
    vim.api.nvim_set_hl(0, "CursorLineNr", { fg = "#FFD700", bold = true })
  end,
})


