-- Custom NVChad options
-- Syntax highlighting (treesitter is handled by NVChad plugins)
vim.o.termguicolors = true
vim.cmd([[syntax on]])
vim.cmd([[filetype plugin indent on]])

-- Line numbers
vim.wo.number = true
vim.wo.relativenumber = false

-- Wrap at 80 columns
vim.o.wrap = true
vim.o.textwidth = 80
vim.o.colorcolumn = "80"
vim.o.formatoptions = vim.o.formatoptions .. "t"
vim.o.expandtab = true
vim.o.shiftwidth = 2
vim.o.tabstop = 2
vim.o.smartindent = true


