---
- name: Configure DaVinci Resolve dependencies on Pop!_OS
  when:
    - ansible_system == 'Linux'
    - detected_distribution == 'pop_os'
  block:
    - name: Check current foreign architectures
      become: true
      ansible.builtin.command: dpkg --print-foreign-architectures
      register: foreign_arch
      changed_when: false

    - name: Enable i386 architecture
      become: true
      ansible.builtin.command: dpkg --add-architecture i386
      when: foreign_arch.stdout.split() is not containing 'i386'

    - name: Refresh apt cache after adding i386 architecture
      become: true
      ansible.builtin.apt:
        update_cache: true
      changed_when: false

    - name: Install DaVinci Resolve Pop!_OS dependencies
      become: true
      ansible.builtin.apt:
        name:
          - libapr1
          - libaprutil1
          - libasound2
          - libglib2.0-0
          - libglu1-mesa
          - libxcb-composite0
          - libxcb-cursor0
          - libxcb-damage0
          - libapr1:i386
          - libaprutil1:i386
          - libasound2:i386
          - libglib2.0-0:i386
        state: present
        update_cache: false

