{
  "Profiles": [
    {
      "Name": "0xProto 13",
      "Guid": "{{ iterm2_profile_guid }}",
      "Normal Font": "0xProto Nerd Font Mono 13",
      "Non Ascii Font": "0xProto Nerd Font Mono 13",
      "Use Non-ASCII Font": true
    }
  ]
}


