- name: Determine installed path for {{ gui_app.name }}
  ansible.builtin.set_fact:
    current_gui_installed_path: "{{ gui_app.linux.installed_path | default('/usr/bin/' ~ gui_app.name) }}"

- name: Check if {{ gui_app.name }} is already installed
  ansible.builtin.stat:
    path: "{{ current_gui_installed_path }}"
  register: gui_app_stat

- name: Install {{ gui_app.name }} via dnf package
  when:
    - gui_app.linux.package is defined
    - gui_app.linux.type | default('') != 'apt'
  become: true
  ansible.builtin.dnf:
    name: "{{ gui_app.linux.package }}"
    state: present
  ignore_errors: true # Best effort as package names might differ from apt
